@use "../base/mixins.scss" as m;
@import "../base/variables.scss";

.no-webp .inicio {
  background-image: url(http://localhost/bienesraices_inicio/build/img/header.jpg);
}

.webp .inicio {
  background-image: url(http://localhost/bienesraices_inicio/build/img/header.webp);
}

.header {
  background-color: $grisOscuro;
  padding: 1rem 0 3rem 0;

  &.inicio {
    background-position: center center;
    background-size: cover;

    @include m.tablet {
      min-height: 70rem;
    }

    .contenido-header {
      @include m.tablet {
        min-height: 70rem;
      }
    }
  }
}

.contenido-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 3rem 0 9rem;
  h1 {
    margin-top: 8rem;
    text-align: left;
    color: $blanco;
    font-weight: $bold;
    line-height: 2;
  }
}


