@use "base/variables" as v;

.footer-low {
    background-color: v.$rosa;
    text-align: center;
    padding: 1rem 0;
    p {
        font-weight: 400;
        color: v.$blanco;
        margin: 0;
        padding: 1rem;
    }
    

}