@use  "../base/variables.scss" as v;
.dark-mode { 
    background-color: darken(v.$grisOscuro, 10);

    .formulario {
        p,label,legend  {
        color: v.$gris ; }

    }
    blockquote,p {
        color: v.$blanco;
    } 
    

    a,h1,h2,h3,h4 {
        color: v.$gris;
    }
    .contenedor-anuncios {
        .anuncio{
            background-color: v.$grisOscuro;
            border: 1px solid v.$gris;

            li {
                img {
                    filter: invert(100%);
                }
            }
    
            .precio{
                color: v.$verde;
            }
    
        }
    }



    .barra .contenedor-dark-img {
        background-color: #8FD6E1;
        img {
            filter: invert(100%);

        }
        
   
    }

    .resumen-propiedad  {
        background-color: v.$grisOscuro;
        padding: 2rem;
        
        li {
            img {
                filter: invert(100%);
            }
        }
        .precio{
            color: v.$verde;
        }
    }
    tbody {
        tr {
          td {
            color: $blanco;
          }
      
        }
    }

}


