@use "variables.scss" as v;

/** Media Queries **/
@mixin telefono {
    @media (min-width: v.$telefono) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}
  
@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}
@mixin grid($columnas, $espaciado: 3rem ) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}


@mixin boton($bg, $displ) {
    background-color: $bg;
    color: v.$blanco;
    font-weight: v.$bold;
    text-decoration: none;
    padding: 1rem 3rem;
    text-align: center;
    margin-top: calc(v.$separacion /2);
    display: $displ;
    border: none;
    &:hover {
        background-color: darken($bg, 8);
        cursor: pointer;
    }

}